.container {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}
.canvasLink {
    text-decoration: none;
}
    .topHomePage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 90vw;
    }
        .topHomePage img {
            width: 200px;
        }
    .bodyHomePage {
        display: flex;
        width: 85%;
    }
        .bodyHomePage img {
            width: 60%;
            max-width: 1030px;
        }
        .startHomePage {
            min-width: 470px;
        }
            .startHomePage p {
                color: black;
                font-weight: 700;
                font-size: 3rem;
            }
        .imageDev{
            min-width: 560px;
        }