.container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}
.canvasLink {
    text-decoration: none;
}
    .topHomePage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
        .topHomePage img {
            width: 200px;
        }
    .bodyHomePage {
        display: flex;
        width: 85%;
    }
        .bodyHomePage img {
            width: 60%;
            max-width: 1030px;
        }
            .startHomePage p {
                color: black;
                font-weight: 700;
                font-size: 3rem;
            }
@media (max-width: 1024px) {
    .bodyHomePage {
        flex-direction: column-reverse;
        align-items: center;
    }
    .topHomePage a button img {
        width: 30px;
    }
    .startHomePage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .startHomePage p {
        font-size: 2rem;
        font-weight: lighter;
    }
    .startHomePage a button {
        width: 80vw;
        border-radius: 25px;
        box-shadow: rgba(255, 80, 0, 0.4) 0px 5px, rgba(255, 80, 0, 0.3) 0px 10px, rgba(255, 80, 0, 0.2) 0px 15px, rgba(255, 80, 0, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    }
    .bodyHomePage img {
        width: 100%;
        max-width: 280px;
    }
}