.levelsLinks {
    text-decoration: none;
    color: white;
}
.levelPageContainer {
    width: 90vw;
    margin-top: 40px;
}
.topLevelPage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
    .topLevelPage > div {
        border: 5px solid black;
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-width: 600px;
        height: 250px;
        box-shadow: -15px 15px 30px 10px rgba(0, 0, 0, 0.2);
        margin-left: 10vw;
    }
        .topLevelPage img {
            width: 250px;
        }
        .topLevelPage div p {
            color: black;
            font-size: 3rem;
            margin: 0;
        }
        .topLevelPage > div > div {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    .levels {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8vw;
    }