.table {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.cells {
    display: flex;
    justify-content: center;
    font-family: monospace;
    background: transparent;
    flex-wrap: wrap;
}